* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--grey-900);
    color: var(--white);
    font-weight: 400;
    font-family: var(--inter-font);
    line-height: 1.6;
}

:root {
    --inter-font: "Inter", sans-serif;
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
}

.container {
    inline-size: min(23.44rem, 90rem);
    block-size: 100vh;
    margin: auto;
}

.social {
    max-inline-size: 24rem;
    block-size: 38.12rem;
    background-color: var(--grey-800);
    padding: clamp(1rem, 4vw, 2rem);
    text-align: center;
    margin: calc(45% - 6.25rem) auto;
    border-radius: 0.9375rem;
}

.social__image img {
    border-radius: 100%;
    inline-size: 30%;
}

.social__content {
    margin-block-start: calc(10% - 0.9375rem);
}

.social__content-location {
    color: var(--green);
    font-size: 0.875rem;
    font-weight: 600;
}

.social__links {
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    margin-block-start: calc(10% - 0.625rem);
}

.social__content-text {
    margin: calc(10% - 1.25rem);
    font-size: 0.8125rem;
}

.social__links-button {
    border: none;
    padding: 15px;
    background-color: var(--grey-700);
    color: var(--white);
    font-weight: bold;
    border-radius: 8px;
    margin-block-end: calc(12.5% - 1.25rem);
    cursor: pointer;
}

.social__links-button:hover {
    background-color: var(--green);
    color: var(--grey-900);
}
