* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--grey-900);
    color: var(--white);
    font-weight: 400;
    font-family: var(--inter-font);
    line-height: 1.6;
}

:root {
    --inter-font: "Inter", sans-serif;
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
}

.container {
    inline-size: 90rem;
    block-size: 100vh;
    margin: auto;
}

.social {
    max-inline-size: 24rem;
    block-size: 38.12rem;
    background-color: var(--grey-800);
    padding: clamp(1rem, 4vw, 2rem);
    text-align: center;
    margin: calc(15% - 100px) auto;
    border-radius: 15px;
}

.social__image img {
    border-radius: 100%;
    inline-size: 30%;
}

.social__content {
    margin-block-start: 15px;
}

.social__content-location {
    color: var(--green);
    font-size: 14px;
    font-weight: 600;
}

.social__links {
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    margin-block-start: 10px;
}

.social__content-text {
    margin: 20px 0 20px 0;
    font-size: 13px;
}

.social__links-button {
    border: none;
    padding: 15px;
    background-color: var(--grey-700);
    color: var(--white);
    font-weight: bold;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
}

.social__links-button:hover {
    background-color: var(--green);
    color: var(--grey-900);
}

@media (min-inline-size: 23.44rem) {
    .container {
        inline-size: 23.44rem;
    }

    .social {
        max-inline-size: 19.36rem;
    }
}